* {
    background-color: transparent;
    background: transparent;
}

body {
    background-color: transparent;
    background: transparent;
}


.mybutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: black;
}